@model WebUi.Models.Blog.PostViewModel
@{
    if (Model.ImageId == null)
    {
        Model.ImageId = "blog";
    }
}
<article class=" text-center">
    <header>
        <h2>
            <a href="@Url.RouteUrl("ViewPost", new { id = Model.UrlSlug })" >@Model.Title</a>
            <br>
            <small>
                <span>
                    <i class="fa fa-user"></i>Written By:@Model.WrittenBy
                </span>
                <span>
                    <i class="fa fa-calendar"></i>@Model.PostedOn.ToString("dd MMM yyyy")
                </span>
            </small>


        </h2>
        <a href="@Url.RouteUrl("ViewPost", new { id = Model.UrlSlug })">
            <img class="img-responsive img-border img-full" src="@Url.Action("Image", "Image", new { id = Model.ImageId })" alt="No Image" />
        </a>
    </header>
    <br />
    <section>
        <p>@Html.Raw(Model.ShortDescription)</p>
    </section>
    <div class="post-footer">
        @foreach (var item in Model.Tags)
        {
            <small>
                <a href="@Url.RouteUrl("PostsByTag", new { tag = item.UrlSlug })">
                    <i class="fa fa-tag"></i>
                    @item.Name
                </a>
            </small>
        }
        <br />
        <hr>
    </div>
    <br />
</article>
