@model WebUi.Models.Blog.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row box">
    <div class=" col-lg-12 " id="posts">
        <div class=" ">
            <h2 class="text-center">
                @Model.Title
                <br>
                <small>
                    <i class="fa fa-calendar"></i> @Model.PostedOn.ToString("dd MMM yyyy")
                    @foreach (var item in Model.Tags)
                    {
                        <a href="@Url.Action("FilterByTag", "Blog", new { id = @item.Name , name=@item.Name})">
                            <i class="fa fa-tag"></i>
                            @item.Name
                        </a>
                    }
                </small>
            </h2>
            <img class="img-responsive img-border img-full" src="~/img/blog-2.jpg" />
            @Html.Raw(Model.Description)
            <hr>
        </div>
    </div>
</div>
