@model WebUi.Models.Blog.PostViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.ImageId == null)
{
    Model.ImageId = "blog";
}
<div class="row box">
    <article id="post">
        <header class="row">
            <h2 class="text-center">
                @Model.Title
                <br>

                <small>
                    <span>
                        <i class="fa fa-user"></i>Written By:@Model.WrittenBy
                    </span>
                    <span>
                        <i class="fa fa-calendar"></i> @Model.PostedOn.ToString("dd MMM yyyy")
                    </span>
                    <span>
                        @foreach (var item in Model.Tags)
                        {
                            <a href="@Url.RouteUrl("PostsByTag", new { tag = item.UrlSlug })">
                                <i class="fa fa-tag"></i>
                                @item.Name
                            </a>
                        }
                    </span>
                </small>
            </h2>
        </header>

        <div class="col-md-10 col-md-offset-1 row">
            <img class="img-responsive img-border img-full" src="@Url.Action("Image", "Image", new { id = Model.ImageId })" alt="No Image" />
        </div>
        <br />
        <br />

        <section class="col-md-12 row">
            <br />
            <br />
            @Html.Raw(Model.Description)
            <hr>
        </section>
        
    </article>
</div>
