@model WebUi.Models.Blog.EditPostViewModel
@using System.Web.Script.Serialization;
@using WebUi.App_Start
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2><a href="@Url.RouteUrl("ViewPost", new { id = Model.UrlSlug })" class="">Link to post</a></h2>
<button class="btn btn-danger" id="delete">Delete this post</button>

@using (Html.BeginForm(Html.BeginForm("Edit", "Post", new { Area = "Admin" }, FormMethod.Post, new { id = "target", enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UrlSlug)

        <div class="form-group">
            <label for="file" class="control-label col-md-2">Old Image</label>
            <div class="col-md-10">
                <img class="col-md-4 img-responsive img-border img-thumbnail" src="@Model.ImageId" alt="No Image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-md-2">Upload New Image:</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" style="width: 100%;" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageUrl)
            </div>
        </div>

        <h4 class="text-center">
            @Html.LabelFor(model => model.ShortDescription)
        </h4>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CkeditorFor(model => model.ShortDescription, new { height = 150 })
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>
        </div>

        <h4 class="text-center">
            @Html.LabelFor(model => model.Description)
        </h4>
        <div class="form-group">
            <div class="col-md-12">
                @Html.CkeditorFor(model => model.Description, new { height = 450 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="Tags" name="Tags" value="@Model.getTagsValue()" tabindex="-1" class="select2-offscreen col-md-12">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitbtn" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section css{
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
}

@section headscripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/select2.min.js"></script>
}

@section scripts {
    <script src="~/Scripts/app/EditPost.js"></script>
    <script type="text/javascript">
        $(function () {
            var tags = @Html.Raw(Json.Encode(Model.ArrayOfAllTags()))
            blogNamespace.editPostContext.init(tags, "#target", "#Tags", "#delete", "@Model.UrlSlug", "@Url.Action("Delete")", "@Url.Action("Index")");
        })
    </script>
}