@model IEnumerable<WebUi.Models.Blog.PostListItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="users" class="table-responsive">

    <div class="form-group col-lg-2">
        <div>
            <input type="text" class="form-control search" placeholder="Search posts">
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th class="sort" data-sort="Title">Title <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="User">User <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="PostedOn">PostedOn <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="Modified">Modified <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="Tags">Tags <i class="fa fa-sort"></i></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="Title">
                        <a href="@Url.RouteUrl("ViewPost", new { id = item.UrlSlug })" >@item.Title</a>
                    </td>
                    <td class="User">
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td class="PostedOn">
                        @item.PostedOn.ToString("dd/MMM/yyyy")
                    </td>
                    <td class="Modified">
                        @if (item.Modified.HasValue)
                        {
                            <span>@item.Modified.Value.ToString("dd/MMM/yyyy")</span>
                        }
                    </td>
                    <td class="Tags">
                        @foreach (var tag in item.Tags)
                        {
                            <span class="label label-default">@tag</span>

                        }
                    </td>
                    <td>@Html.ActionLink("Edit", "Edit", "Post", new { id = item.UrlSlug, Area = "Admin" }, new { })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

    @section headscripts{
        <script src="~/Scripts/jquery.tablesorter.min.js"></script>
        <script src="~/Scripts/list.js"></script>
    }

    @section scripts{

        <script type="text/javascript">
            $(function () {
                var options = {
                    valueNames: ['Title', 'User', 'PostedOn', 'Modified', 'Tags']
                };

                var userList = new List('users', options);
            });
        </script>
    }
