@model IEnumerable<WebUi.Models.Blog.PostListItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Edit", "Post", new { id = item.UrlSlug, Area="Admin" }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <th>
            @item.PostedOn.ToString("dd/MMM/yyyy")
        </th>
        <td>
            @if (item.Modified.HasValue)
            {
                <span>@item.Modified.Value.ToString("dd/MMM/yyyy")</span>
            }
        </td>
        <td>
           @foreach (var tag in item.Tags)
           {
               <span class="label label-default" >@tag</span>
               
           }
        </td>
    </tr>
}

</table>
