@model IEnumerable<WebUi.Models.ApplicationUserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Register New", "Register")
</p>
<div id="users" class="table-responsive">

    <div class="form-group col-lg-2">
        <div class="">
            <input type="text" class="form-control search" placeholder="Search users">
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th class="sort" data-sort="username" >UserName <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="Name" >Name <i class="fa fa-sort"></i></th>
                <th class="sort" data-sort="email" >Email <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.UserName, "Edit", "Account", new { id = item.UserName, Area = "Admin" }, new { @class = "username" })
                    </td>
                    <td >
                        <div class="Name">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </td>
                    <td >
                        <div class="email">
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section headscripts{
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/list.js"></script>
}
 
@section scripts{
    
    <script type="text/javascript">
        $(function () {
            var options = {
                valueNames: ['username', 'Name', 'email']
            };

            var userList = new List('users', options);


        });
    </script>
}
