@model IEnumerable<WebUi.Models.ApplicationUserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Register New", "Register")
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th>UserName <i class="fa fa-sort"></i></th>
                <th>Name <i class="fa fa-sort"></i></th>
                <th>Email <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.UserName, "Edit", "Account", new { id = item.UserName, Area = "Admin" }, new { })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".tablesorter").tablesorter();
            
        });
    </script>
}
