<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/business-casual.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />*
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("css", required: false)

    @Scripts.Render("~/bundles/base")
    @RenderSection("headscripts", required: false)

</head>
<body>
    <header>
        <div class="brand">Acambas Blog</div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Business Casual</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        @*<li>@Html.ActionLink("CV", "CV", "Home")</li>*@
                        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                        <li>@Html.ActionLink("User", "Login", "Login")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <div>
        <section class="container">

            @RenderBody()

        </section><!-- /.container -->
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
