@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            @User.Identity.GetUserName()
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Admin page", "Index", "Admin", new { Area = "Admin" }, new { })
            </li>
            <li>
                @using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", area = "" }))
                {
                    @Html.AntiForgeryToken()
                    <i class="fa fa-power-off"></i>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        Log off
                    </a>
                }
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User page<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Login", "Login", "Login")</li>
            <li>@Html.ActionLink("Register", "Register", "Login")</li>
        </ul>
    </li>
}


